header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar {
  @media (min-width: 768px) {
    padding: 10px 10%;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo img {
    height: 60px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;

    li a {
      color: var(--background-light); /* טקסט בהיר על רקע כהה */
      text-decoration: none;
      padding: 8px 20px;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--highlight);
        color: var(--text-dark);
      }
    }
  }

  @media (max-width: 991px) {
    .hamburger {
      display: block;
      font-size: 26px;
      padding: 4.5px 12px;
    }

    .nav-links {
      display: none;
      position: absolute;
      width: 100%;
      align-items: center;
      top: 66px;
      margin-top: 10px;
      background-color: var(--text-dark);
      padding: 15px;
      border-radius: 0px 0 8px 8px;

      &.open {
        display: flex;
        flex-direction: column;
      }

      li {
        width: 100%;

        a {
          font-size: 18px;
          padding: 12px;
          width: 100%;
          text-align: center;
          color: var(--background-light);

          &:hover {
            background-color: var(--highlight);
            color: var(--text-dark);
          }
        }
      }
    }

    .logo img {
      height: 55px;
    }

    .nav-content {
      position: relative;
      align-items: flex-start;
      width: 100%;

      .logo {
        margin: 10px 20px 0px 10px;
      }

      .hamburger {
        margin: 10px 0px 10px 10px;
      }
    }
  }
}
