/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

body .uwy.userway_p1 .userway_buttons_wrapper {
  right: calc(100vw - 50px);
}

:root {
  --primary-color: #7f4f4f;
  --secondary-color: #c4a69f;
  --background-light: #f5f0ec;
  --text-dark: #4a4444;
  --highlight: #e8dfd8;
}

div.container {
  margin: 2rem auto;
}

body {
  direction: rtl;
  font-family: sans-serif;
  text-align: right;

  @media (max-width: 767px) {
    font-size: 20px;

    .uwy.userway_p1 .userway_buttons_wrapper {
      top: 92px;
    }
  }

  @media (min-width: 767px) {
    font-size: 20px;
  }
}

h1, h2, h3, h4 {
  text-align: center;
  color: var(--primary-color); /* שימוש בצבע הראשי */
}

.back {
  background-color: var(--primary-color); /* שימוש בצבע הראשי */
}

a {
  color: var(--secondary-color); /* צבע משני למקושר */
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: var(--highlight); /* הדגשה בהירה בהובר */
  }
}

section {
  margin: 3rem auto;
  text-align: center;
}
