<div class="row container sample-website-grid">
    <h1 class="text-center mb-4" id="faq-title">אתרים לדוגמא</h1>
       @for (site of sampleWebsites; track $index){
 <div    class="col-12 col-md-6"> <a
    target="_blank"
    [href]="site.url"
    class=" card back_img SampleWebsite"
    [style.backgroundImage]="'url(' + site.image + ')'"
  >
    @if (site.label){
    <div
   
      class="upgrade-box"
      [ngStyle]="{ background: site.labelColor || '#444' }"
    >
      {{ site.label }}
    </div>}
  </a></div>
}
</div>
